.home{
    background-image: url('/src/images/bg1.png');
    @include bgImg();

    .home-text{
        h1{font-size: 5rem; margin-bottom: 4rem;}

        p{font-size: 1.8rem; margin-bottom: 4rem;}

        .btn{
            color: $white;
            background-color: $primary-color;
            font-size: 2rem;
            padding: 2rem 6rem;
            border-radius: 60px;
            border-color: $primary-color;
            font-family: $semi-bold-sand;
            margin-right: 2rem;

            &.btn-outline{
                background-color: transparent!important;
                color: $primary-color!important;
            }
        }
    }
}