.home{
    background-image: url('../images/bg1.png');
    @include bgImg();
    min-height: 100vh;
    padding: 10rem 0;

    .home-text{
        h1{font-size: 5rem; margin-bottom: 4rem;}

        p{font-size: 1.8rem; margin-bottom: 4rem;}

        .btn{
            color: $white;
            background-color: $primary-color;
            font-size: 2rem;
            padding: 2rem 6rem;
            border-radius: 60px;
            border-color: $primary-color;
            font-family: $semi-bold-sand;
            margin-right: 2rem;

            &.btn-outline{
                background-color: transparent!important;
                color: $primary-color!important;
            }
        }
    }
}


//Media 
@include responsive_tab(){
    .container-fluid{
        max-width: 970px!important;
    }
}

@include responsive_mobile(){
    //.header{display: none;}
    html{font-size: 12px;}
    
    .home{
        .container-fluid{padding: 0 2rem;}

        background-size: contain!important; 
    }
}

@include responsive_max(450px){
    html{font-size: 10px;}

    .home{
        background-size: initial!important; 
        .home-text{
            h1{font-size: 3rem!important;}
            p{font-size: 1.5rem!important;}
            a.btn{
                font-size: 1.5rem!important; 
                margin-right: 0!important;
                padding: 1.2rem 5rem;
            }
        }
    }
}

@include responsive_max(320px){
    .home-text a.btn{padding: 1rem 0!important; width: 110!important;}
}

@include responsive_min(1300px) {
    .home-text p{width: 50%;}
}