.service{
    position: relative;
    @include bgImg(contain, initial);
    background: url('../images/bg2.png');
    min-height: 100vh;
    padding: 7rem 0;

   

    .service-img{
        @include bgImg(100% 100%, initial);
        height: 100%;
        width: 100%;
    }

    h2{
        font-size: 4rem;
        margin-bottom: 5rem;
        text-transform: capitalize;
    }

    .s-01{
        width: 100vw;
        padding-top:15rem;

        .s-01-img{background: url('../images/s-01.png');}

        .s-01-text{
            margin-bottom: 2rem;
            h3{
                font-size: 2.5rem;
                text-transform: capitalize;
                margin-bottom: 2.2rem;
            }
        }

        .s-01-icon{
            @include bgImg(contain, initial);
            background: url('../images/mark.png');
            height: 60px;
            width: 60px;
        }
    }

    // S-02
    .s-02{
        width: 100vw;
        padding-top:15rem;

        .s-02-img{background: url('../images/s-02.png');}

        .s-02-text{
            cite{
                font-size: 1.6rem;
                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    right: -70px;
                    bottom: 3px;
                    width: 70px;
                    height: 1px;
                    background-color: $light-gray;
                }
            }
            p{margin-bottom: 4rem;}

            a{font-size: 2rem;}
        }
    }

    //S-03
    .s-03{
        width: 100vw;
        padding-top:15rem;

        .s-03-img{background: url('../images/s-03.png');}

    }
}


@include responsive_mobile(){
    .s-01-img,
    .s-02-img,
    .s-03-img{display: none!important;}
}


@include responsive_max(450px){
    h2{font-size: 3rem!important;}
    
}

