.header{
    position: fixed;
    top: 0;
    z-index: 8;

    .logo{
        font-size: 3.3rem;
        color: $primary-color;
        margin-bottom: 0!important;
    }

    .navbar{
        padding: 2rem 0;
    }

    .navbar-toggler{
        width: 65px;
        height: 65px;
        display: none!important;
        .toggler{
            display: inline-block;
            width: 100%;
            height: 4px;
            background-color: $primary-color;
            position: relative;
            @include transition();

            &::after,
            &::before{
                content: '';
                display: inline-block;
                position: absolute;
                width: 100%;
                height: 4px;
                background-color: $primary-color;
                transform-origin: center;
                @include transition();
            }
            &::after{bottom: -13px;}
            &::before{top: -13px;}
        }       

        &.open{
            .toggler{
                transform: translateX(-65px);
                background: transparent;
                @include transition();

                &:before{transform: rotate(45deg) translate(49px, -35px);  @include transition();}
                &:after{transform: rotate(-45deg) translate(53px, 30px);  @include transition();}
            }
        }
    }

    .nav-item{
        margin: 0 1.7rem;

        .nav-link{
            padding: 0;
            color: $light-gray;
            font-size: 1.7rem;
            font-family: $semi-bold-sand;
            @include transition();

            &.active,
            &:hover{
                color: $primary-color;
                font-family: $bold-sand;
                transform: scale(1.2);
                @include transition();
            }
        }
    }
}

@include responsive_mobile(){
    .header{
        background-color: $white;
        position: relative;
        .navbar{padding: 0!important;}
        .navbar-nav{
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
            background: $white;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            @include transition();
            border-radius: 0 0 100% 100%;
            transform: translateY(-100vh);
            
            .nav-item{
                margin: 2rem 1.5rem !important;
                .nav-link{color: $primary-color; font-size: 3rem;}
            }

            &.open{
                transform: translateY(0)!important;
                border-radius: 0!important;
            }
        }

        .navbar-toggler{
            display: inline-flex!important;
        }
    }
}