.service{
    position: relative;
    @include bgImg(contain, initial);
    background: url('/src/images/bg2.png');

   

    .service-img{
        @include bgImg(100% 100%, initial);
        height: 100%;
        width: 100%;
    }

    h2{
        font-size: 4rem;
        margin-bottom: 5rem;
        text-transform: capitalize;
    }

    .s-01{
        width: 100vw;
        padding:15rem 0;

        .s-01-img{background: url('/src/images/s-01.png');}

        .s-01-text{
            margin-bottom: 2rem;
            h3{
                font-size: 2.5rem;
                text-transform: capitalize;
                margin-bottom: 2.2rem;
            }
        }

        .s-01-icon{
            @include bgImg(contain, initial);
            background: url('/src/images/mark.png');
            height: 60px;
            width: 60px;
        }
    }

    // S-02
    .s-02{
        width: 100vw;
        padding:15rem 0;

        .s-02-img{background: url('/src/images/s-02.png');}

        .s-02-text{
            cite{
                font-size: 1.6rem;
                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    right: -70px;
                    bottom: 3px;
                    width: 70px;
                    height: 1px;
                    background-color: $light-gray;
                }
            }
            p{margin-bottom: 4rem;}

            a{font-size: 2rem;}
        }
    }

    //S-03
    .s-03{
        width: 100vw;
        padding:15rem 0;

        .s-03-img{background: url('/src/images/s-03.png');}

    }
}
.splide__pagination{
    bottom: 10%!important;


    .splide__pagination__page{
        margin: 0 10px!important;
        width: 35px!important;
        height: 35px!important;
        background-color: #A3EAF9!important;
        &.is-active{background-color: $primary-color!important;}
    }
}


@include responsive_max(450px){
    h2{font-size: 3rem!important;}
    
    .slider-controls{
        bottom: 7%!important;
        .btn{
            width: 50px!important;
            height: 50px!important;
            line-height: 50px!important;
        }
    }
}

