$bold-sand: 'Quicksand-Bold', sans-serif;
$semi-bold-sand: 'Quicksand-SemiBold', sans-serif;
$medium-sand: 'Quicksand-Medium', sans-serif;
$regular-sand: 'Quicksand-Regular', sans-serif;
$light-sand: 'Quicksand-Light', sans-serif;