@font-face {
  font-family: 'Quicksand-Bold';
  src: url("/src/fonts/Quicksand/Quicksand-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Quicksand-Light';
  src: url("/src/fonts/Quicksand/Quicksand-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Quicksand-Medium';
  src: url("/src/fonts/Quicksand/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Quicksand-Regular';
  src: url("/src/fonts/Quicksand/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Quicksand-SemiBold';
  src: url("/src/fonts/Quicksand/Quicksand-SemiBold.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand-Regular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand-Bold", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.5);
}

.container-fluid {
  max-width: 1600px;
}

.loader {
  position: relative;
  padding: 0;
  width: 0%;
  height: 100%;
  background-color: #ff6a6d;
}

.page-transition {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.header {
  position: fixed;
  top: 0;
  z-index: 8;
}

.header .logo {
  font-size: 3.3rem;
  color: #ff6a6d;
  margin-bottom: 0 !important;
}

.header .navbar {
  padding: 2rem 0;
}

.header .nav-item {
  margin: 0 1.7rem;
}

.header .nav-item .nav-link {
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.7rem;
  font-family: "Quicksand-SemiBold", sans-serif;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header .nav-item .nav-link.active, .header .nav-item .nav-link:hover {
  color: #ff6a6d;
  font-family: "Quicksand-Bold", sans-serif;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.home {
  background-image: url("/src/images/bg1.png");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: initial !important;
}

.home .home-text h1 {
  font-size: 5rem;
  margin-bottom: 4rem;
}

.home .home-text p {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.home .home-text .btn {
  color: #fff;
  background-color: #ff6a6d;
  font-size: 2rem;
  padding: 2rem 6rem;
  border-radius: 60px;
  border-color: #ff6a6d;
  font-family: "Quicksand-SemiBold", sans-serif;
  margin-right: 2rem;
}

.home .home-text .btn.btn-outline {
  background-color: transparent !important;
  color: #ff6a6d !important;
}

.about {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: initial !important;
  background-image: url("/src/images/bubble.png");
}

.about .title {
  margin-bottom: 4rem;
}

.about .title h2 {
  font-size: 3rem;
  text-transform: capitalize;
}

.about .about-content .about-img {
  background-repeat: no-repeat !important;
  background-size: initial !important;
  background-position: center center !important;
  height: 300px;
  width: 100%;
  margin: 0 auto;
}

.about .about-content .about-img.img-1 {
  background: url("/src/images/icon1.png");
}

.about .about-content .about-img.img-2 {
  background: url("/src/images/icon2.png");
}

.about .about-content .about-img.img-3 {
  background: url("/src/images/icon3.png");
}

.service .service-img {
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  background-position: initial !important;
  height: 100%;
  width: 100%;
}

.service h2 {
  font-size: 4rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
}

.service .s-01 {
  width: 100vw;
  padding: 15rem 0;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: initial !important;
  background: url("/src/images/bg2.png");
}

.service .s-01 .s-01-img {
  background: url("/src/images/s-01.png");
}

.service .s-01 .s-01-text {
  margin-bottom: 2rem;
}

.service .s-01 .s-01-text h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-bottom: 2.2rem;
}

.service .s-01 .s-01-icon {
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: initial !important;
  background: url("/src/images/mark.png");
  height: 60px;
  width: 60px;
}

.service .s-02 {
  padding-bottom: 15rem;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: initial !important;
  background: url("/src/images/bg3.png");
}

.service .s-02 .s-02-img {
  background: url("/src/images/s-02.png");
}

.service .s-02 .s-02-text cite {
  font-size: 1.6rem;
  position: relative;
}

.service .s-02 .s-02-text cite::after {
  content: '';
  position: absolute;
  right: -70px;
  bottom: 3px;
  width: 70px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
}

.service .s-02 .s-02-text p {
  margin-bottom: 4rem;
}

.service .s-02 .s-02-text a {
  font-size: 2rem;
}

.service .s-03 {
  padding-bottom: 15rem;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: initial !important;
  background: url("/src/images/bg4.png");
}

.service .s-03 .s-03-img {
  background: url("/src/images/s-03.png");
}

.pricing {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: initial !important;
  background: url("/src/images/bg5.png");
  padding-top: 4rem;
}

.pricing .pricing-info {
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  padding-bottom: 3rem;
  overflow: hidden;
  -webkit-box-shadow: 1px 6px 19px -4px rgba(255, 106, 109, 0.77);
          box-shadow: 1px 6px 19px -4px rgba(255, 106, 109, 0.77);
}

.pricing .pricing-info .pricing-header {
  background-color: #ff6a6d;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.pricing .pricing-info .pricing-header h4 {
  font-size: 3rem;
}

.pricing .pricing-info .pricing-body {
  padding: 3rem;
}

.pricing .pricing-info .pricing-body h3 {
  font-size: 2.5rem;
}

.pricing .pricing-info .pricing-body .blue-mark {
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  background-position: initial !important;
  background: url("/src/images/blue-mark.png");
  width: 100%;
  height: 100%;
}

.pricing .pricing-info .pricing-body .red-mark {
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  background-position: initial !important;
  background: url("/src/images/red-mark.png");
  width: 100%;
  height: 100%;
}

.pricing .pricing-info .pricing-body .price {
  margin-top: 3rem;
  text-align: center;
  position: relative;
}

.pricing .pricing-info .pricing-body .price::before {
  content: '\0024';
  position: absolute;
  top: -15px;
  left: 10px;
  font-size: 4rem;
  color: #000;
}

.pricing .pricing-info .pricing-body .price h1 {
  font-family: "Quicksand-Regular", sans-serif;
  font-size: 10rem;
  color: #3b3a3a;
}

.pricing .pricing-info .pricing-body .price h1 span {
  font-size: 4rem;
}

.pricing .pricing-info .pricing-body .price p {
  font-style: italic;
}

.pricing .pricing-info .pricing-body .pricing-btn {
  margin-top: 5rem;
}

.pricing .pricing-info .pricing-body .pricing-btn .btn {
  font-size: 1.5rem;
  color: #fff;
  font-family: "Quicksand-SemiBold", sans-serif;
  padding: 2rem 3rem;
  border-radius: 50px;
}

.pricing .pricing-info .pricing-body .pricing-btn .btn.btn-blue {
  background-color: #8ec7fb;
}

.pricing .pricing-info .pricing-body .pricing-btn .btn.btn-red {
  background-color: #ff6a6d;
}
/*# sourceMappingURL=main.css.map */